body {
  background: #3d5f92;
  margin: 0;
  font-family: "Segoe UI", sans-serif;
}

.container {
  max-width: 1000px;
  margin: 40px auto;
  background: rgb(199, 204, 233);
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
}

h2 {
  margin-bottom: 20px;
  color: #333;
}

.search-input {
  padding: 8px 12px;
  border-radius: 6px;
  border: 1px solid #010a75;
  width: 250px;
  margin-bottom: 15px;
  transition: 0.3s;
}

.search-input:focus {
  outline: none;
  border-color: #4f46e5;
  box-shadow: 0 0 5px rgba(79, 70, 229, 0.3);
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background: #7c78c1;
  color: rgb(61, 74, 212);
}

th {
  padding: 10px;
  cursor: pointer;
}

th:hover {
  background: #4338ca;
}

td {
  padding: 10px;
  border-bottom: 1px solid #000000;
}

tbody tr:hover {
  background: #eceef1;
}